<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="box">
        <h2>Admin Login</h2>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <a href="" class="forgot">Forgot Password?</a>
        <button>Login</button>
        <p>Don't have an account? <a href="signup.html">Register</a></p>
    </div>
</body>
</html>