.bookinp{
    position: absolute;
    width: 500px;
    height: 600px;
    top: 130px;
    left: 35%;
    background-color:#3a1054 ;
}
.bookinp input{
    margin-left: 50px;
}
.bookinp button{
    margin-left: 50px;
}
.bookinp h1{
 text-align: center;
 margin: 42px;
 margin-bottom: 30px;
 font-size: 25px;
 color:white;
}
.dashboard{
    position: absolute;
    top: 900px;
    height: 500px;
    width: 100%;
    background-color:aqua;
}
.dashboard div{
    height: 98px;
}
.dashboard div:nth-of-type(2n+1){
    background-color:rgb(0, 208, 176);
    
}
.dashboard div span{
    font-size: 15px;
    display: flex;
    display: inline-block;
    padding-top: 30px;
    padding-left:80px ;
    width: 100px;
    /* border-left: 2px solid black; */
}
.dashboard div button{
    width: 115px;
    float: right;
    margin-right:21px;
    margin-top: 30px;
}