@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color:rgb(173, 136, 198);
}
.box{
    background-color:#3a1054;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: auto;
    margin-top:104px;
    border-radius: 10px;
    font-size: 16px;
}
input{
    width: 390px;
    height: 37px;
    margin-bottom: 24px;
    border-radius:8px;
    border-style: none;
    font-size:14px;
    padding-left: 8px;
    outline: auto;
}
input:valid{
    outline: none;
}
.forgot{
    width: 390px;
    margin-bottom: 20px;
}
button{
    width: 390px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size:20px;
    cursor:pointer;
    background-color: #bb72e8;
}
button:hover{
    outline: auto;
    background-color:#fdf0f0;
}
h2{
    margin: 30px;
    margin-top: 50px;
    font-size: 27px;
    color: #fdf0f0;
}
p{
    margin-top: 20px;
    color: #fdf0f0;
}
.box a{
    color:#ad88c6;
}
.box a:hover{
    text-decoration: none;
}
.navbar{
    height: 71px;
    background-color:#3a1054;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.navbar a{
    float: right;
    margin-top: 17px;
    margin-right: 30px; 
    padding: 8px 10px; 
    border-radius: 5px;
    text-decoration: none;
    /* font-size:22px; */
    color:white;
}
.navbar a:hover{
    background-color:#ad88c6;
    transition: .5s;
}
.navbar h2{
    display: inline-block;
    color: #fdf0f0;
    margin-top: 18px;
    margin-left: 50px;
    font-size: 21px;
}
.sec{
    height:500px;
}
.sec img{
    position: absolute;
    left: 700px;
    margin:50px;
    margin-top: 97px;
    border-radius: 96px;
    width: 361px;
}
.sec p{
    position: absolute;
    top: 162px;
    display: inline-block;
    width: 590px;
    margin-left: 85px;
    font-size: 16px;
}
.sec p b{
    font-size: 40px;
}
.sec a{
    text-decoration: none;
    padding:10px 17px;
    background-color:white;
    border-radius: 15px;
    font-size: 17px;
    border: 2px solid black;
}
.sec a:hover{
    background-color: #3a1054;
    color: white;
    transition: .5s;
}
.sec2{
    display: flex;
}
.card{
    margin: 20px;
    height: 150px;
    border:2px solid black;
    /* box-shadow: 4px 4px 8px black; */
    transition: 0.5s;
    border-radius: 5px;
    background-color:#3a1054;
    padding: 20px;
    overflow: auto;
}
.card:hover{
    box-shadow: 8px 8px 16px black;
    /* background-color: #571b7c; */
}
.card p b {
    font-size: 23px;
}
.card p{
    font-size:16px;
}
.sec3{
    height: 400px;
    margin-bottom: 100px;
}
.sec3 img{
    margin:50px;
    margin-left: 96px;
    border-radius: 96px;
    width: 320px;
}
.sec3 p{
    width: 700px;
    position: absolute;
    left: 500px;
    top: 821px;
    font-size: 18px;  
}
footer{
    height: 150px;
    background-color: #3a1054;
    color: white;
    padding: 50px;
    font-size: 20px;
    /* overflow: auto; */
}
.contact{
    float: right;
}
.address{
    display: inline-block;
}
#note{
    display: none;
}
@media (max-width:1029px){
    #wbody{
        display: none;
    }
    body{
        background-color:#ad88c6;
    }
    p{
        text-align: center;
        margin-top:50% ;
    }
}






